In [ ]:
import numpy as np
import pandas as pd
from scipy import stats

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving chiSquareAssignment2.csv to chiSquareAssignment2.csv

In [ ]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['chiSquareAssignment2.csv']))

In [ ]:
df2.head()

     City Brand
0  Mumbai     B
1  Mumbai     A
2  Mumbai     A
3  Mumbai     A
4  Mumbai     C

In [ ]:
contingTab = pd.crosstab(df2.City, df2.Brand, margins=True)

In [ ]:
contingTab

Brand      A    B    C    D   All
City
Chennai  165   47  191  194   597
Mumbai   279   73  125    0   477
All      444  120  316  194  1074

In [ ]:
316/1074

0.2942271880819367

**Calculate the Expected Frequency**

In [ ]:
contingTab['A']

City
Chennai    165
Mumbai     279
All        444
Name: A, dtype: int64

In [ ]:
contingTab['A']['Chennai']

165

In [ ]:
contingTab['All']['All']

1074

In [ ]:
contingTab.transpose()

City   Chennai  Mumbai   All
Brand
A          165     279   444
B           47      73   120
C          191     125   316
D          194       0   194
All        597     477  1074

In [ ]:
cities = list(df2['City'].unique())
brands = list(df2['Brand'].unique())

exp1 = {}

for i in cities:
  exp2 = {}
  for j in brands:
    exp2[j] = contingTab.transpose()[i]['All'] * contingTab[j]['All'] / (contingTab['All']['All'])

  exp1[i] = exp2

In [ ]:
444*597/1074

246.80446927374302

In [ ]:
exp1

{'Chennai': {'A': 246.80446927374302,
  'B': 66.70391061452514,
  'C': 175.6536312849162,
  'D': 107.83798882681565},
 'Mumbai': {'A': 197.19553072625698,
  'B': 53.29608938547486,
  'C': 140.3463687150838,
  'D': 86.16201117318435}}

In [ ]:
chiSquareCal = 0
for i in cities:
  for j in brands:
    val = (contingTab.transpose()[i][j] - exp1[i][j])**2/exp1[i][j]
    chiSquareCal = chiSquareCal + val

In [ ]:
chiSquareCal

232.1791177373941

**Degree of Freedom**

In [ ]:
dof = (len(cities)-1) * (len(brands)-1)

In [ ]:
dof

3

In [ ]:
stats.chi2.ppf(1-0.05, df=dof)

7.814727903251179

In [ ]:
contab = np.array([contingTab.transpose()['Chennai'][0:4].values,
                  contingTab.transpose()['Mumbai'][0:4].values])
stats.chi2_contingency(contab)

(232.17911773739405,
 4.673641481848486e-50,
 3,
 array([[246.80446927,  66.70391061, 175.65363128, 107.83798883],
        [197.19553073,  53.29608939, 140.34636872,  86.16201117]]))

In [ ]:
1 - stats.chi2.cdf(chiSquareCal, dof)

0.0